<nav class="navbar navbar-expand-lg navbar dark  bg-primary bg-opacity-75">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <a class="navbar-brand me-4" [routerLink]="'/'">Expenses Tracker</a>
    </div>

    @if(authService.currentUser$ | async) {
      <div class="ms-auto">
        <a class="btn btn-outline-light me-2" [routerLink]="'/add'">
          <i class="bi bi-plus-circle"></i>
          Add Transaction
        </a>
        <a class="btn btn-outline-light me-2" (click)="logout()">
          <i class="bi bi-box-arrow-right"></i>
          Logout
        </a>
      </div>
    }
    @if(!(authService.currentUser$ | async)){
      <div class="ms-auto">
        <a class="btn btn-outline-light" href="#" [routerLink]="'/login'">
          <i class="bi bi-box-arrow-in-right"></i>
          Login
        </a>
      </div>
    }
  </div>
</nav>
